module.exports = {
    input: [
        'src/**/*.{ts,tsx}'
    ],
    output: './',
    options: {
        debug: true,
        func: {
            list: ['t'],
            extensions: ['.js', '.jsx'],
        },

        trans: false,

        lngs: ['sk'],
        ns: [
            'translation',
            'atoms',
            'pages',
            'components',
            'paths'
        ],
        defaultLng: 'sk',
        defaultNs: 'translation',

        defaultValue: '_NEPRELOZENE_',

        resource: {
            loadPath: 'public/locales/{{lng}}/{{ns}}.json',
            savePath: 'public/locales/{{lng}}/{{ns}}.json',
            jsonIndent: 4,
            lineEnding: '\n'
        },

        nsSeparator: ':',
    }
};
