
// tmava: 	#222222
// bleda: #FFFFFD
.animal-detail-wrapper
	display: flex
	width: 100%
	margin-top: 25px
	justify-content: space-between
	align-content: flex-start
	flex-wrap: wrap
	.info-wrapper
		h1
			text-align: left
	.animal-wrapper
		padding: 20px
		background: #FAFAFA
		border-radius: 10px
		flex-grow: 2
		width: 60%
		flex-basis: 700px
		min-height: 450px
		margin-right: 25px
		position: relative
		.animal-info
			flex-direction: column
			align-items: flex-start
			display: flex
			// margin-left: 30px
			.animal-name
				font-size: 25px
				font-weight: bold
		.animal-image
			position: relative
			width: 100%
			height: 200px
			img.animal-covored-photo
				position: absolute
				height: 100%
				width: 100%
				top: -60px
				display: flex
				box-shadow: 2px 1px 14px 7px rgba(0,0,0,0.2)
				border-radius: 15px
				object-fit: cover
				cursor: pointer
		// .poster-wrapper
		// 	.poster-info-wrapper
		// 		display: flex
		// 		flex-direction: column
		// 		.avatar
		// 			display: flex
	.right-wrapper
		flex-grow: 1
		// width: 20%
		min-height: 450px
		flex-basis: 344px
		display: flex
		flex-direction: column
		justify-content: space-between
		.shelter-wrapper
			min-height: 250px
			background: #FAFAFA
			border-radius: 10px
			display: flex
			position: relative
			flex-direction: column
			justify-content: flex-start
			// .shelter-avatar
			// 	position: absolute
			// 	top: -17%
			// 	left: 40%
			.shelter-name
				font-size: 24px
				font-weight: bold
			.shelter-address
				font-size: 14px
				padding-left: 15px
				padding-right: 15px
			.shelter-info
				display: flex
				justify-content: space-around
				margin-top: 25px
				padding-left: 15px
				padding-right: 15px
		.map-wrapper
			margin-top: 25px
			height: 250px
			background: #FAFAFA
			border-radius: 10px

.info-item
	.avatar
		display: flex
		align-items: center
	.info
		display: flex
		line-height: 16px
		margin-left: 7px
		flex-direction: column
		align-items: flex-start
		.info-name
			font-size: 12px
			color: #A0A0A0
		.info-description
			font-weight: bold
			color: black

@media screen and (max-width: 1323px)
	.animal-detail-wrapper
		.animal-wrapper
			margin-right: 0
		.right-wrapper
			.shelter-wrapper
				margin-top: 25px
