$main-color: #03E3E7
$secondary-color: #84FDFF
$selected-color: #f08f58
$layout-margin: 37px
$content-side-padding: 25px
$layout-background-color: #E5E5E5

// Layout
.layout-wrapper
	section.ant-layout
		min-height: 100vh
		background-color: $layout-background-color
		// content
		.content
			margin-left: $layout-margin
			margin-right: $layout-margin
			margin-top: 50px
			margin-bottom: 50px
			padding-left: $content-side-padding
			padding-right: $content-side-padding
		// Sider menu
		.ant-layout-sider-children
			background-color: $main-color
			.avatar
				display: flex
				flex-direction: column
				align-items: center
				margin-bottom: 30px
			.ant-menu
				background-color: $main-color
				display: flex
				flex-direction: column
				align-items: center
				.ant-menu-item
					width: 80%
					display: flex
					align-items: center
					border-radius: 5px
					height: 50px
					&:hover
						background-color: $secondary-color
					a
						font-size: 19px
						color: #2E2626
					span
						font-size: 25px
						color: #2E2626
				.ant-menu-item-selected
					transition: background 800ms ease-in-out
					background-color: $secondary-color
					a, span
						color: $selected-color
		// header
		header.ant-layout-header
			display: flex
			justify-content: space-between
			background: $main-color
			margin-left: $layout-margin
			margin-right: $layout-margin
			border-radius: 0 0 20px 20px
			height: 80px
			padding-left: 40px
			padding-right: 40px
			.user-info
				display: flex
				align-items: center
		// Footer
		footer.ant-layout-footer
			background-color: $main-color
			margin-left: $layout-margin
			margin-right: $layout-margin
			border-radius: 20px 20px 0 0
			height: 80px
